@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0e0d0d;
    overflow-x: hidden;
    /* font-family: 'Space Mono', sans-serif; */
}
/* #root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ;
} */